In [2]:
import pandas as pd 
import seaborn as sns 
from matplotlib import style
import matplotlib.pyplot as plt

csv = "vehicles.csv"
df = pd.read_csv(csv)

print("All is done")
print(df.head(10))
print(df.tail())
print(df.describe())
print(df.shape)

All is done
   Unnamed: 0                vin manufacturer  year            color  \
0           0  KNEQQMPI59JQMQFUS   Volkswagen  2023   metallic_black
1           1  Y06254A9NYNT183XI         Audi  2021      matte_black
2           2  U8J8TBA70SBBGVXT1       Nissan  2020  metallic_silver
3           3  ZWEG0R44V9S72T8CO    Chevrolet  2012             gray
4           4  XRNFVKZUXQ4WJHJTK       Nissan  2009           purple
5           5  1LO3MRZOB4X3Y1KST         Ford  2008     metallic_red
6           6  HNHT7ZUBJ23KZDIV1       Nissan  2019           silver
7           7  MPA62DRXSR7A89VZU     Mercedes  2017           custom
8           8  VHCAURU4ARUAYJ92M         Audi  2010      matte_black
9           9  29UVADC6HM51QNKB5     Mercedes  2018   metallic_green

     body_type engine_type transmission  fuel_type  seating_capacity  \
0        Truck    electric       manual   gasoline                 6
1  Convertible      diesel    automatic     hybrid                10
2        Wagon      petrol       manual  biodiesel                 3
3          Van      petrol    automatic    ethanol                 6
4    Hatchback      petrol       manual   gasoline                10
5          SUV      petrol    automatic  biodiesel                 8
6        Coupe    electric    automatic     diesel                 6
7        Sedan      diesel    automatic     hybrid                 4
8          SUV    electric    automatic   gasoline                 3
9    Hatchback    electric       manual    ethanol                 7

   kilometers_driven vehicle_condition_status  selling_price  \
0              19.84                 inactive        5980.16
1              19.83                   active        8778.19
2              78.73                 inactive        8921.27
3              46.02                 inactive       16953.98
4             247.39                   active       21727.87
5              14.62                   active       23083.92
6              13.88                 inactive       10984.73
7              43.33                 inactive       10761.00
8             101.99                 inactive       20787.81
9             117.60                 inactive       11970.64

                             owner_name   owner_profession  owner_age  \
0                         KARABO Nadege          librarian         49
1                      UWASE TETA Paola          economist         84
2  IMANISINGIZWE KAMANA Adeodatus Clare           mechanic         38
3                  IMANISHIMWE Emmanuel        hairdresser         33
4                      IRASUBIZA Divine              baker         86
5              AMIZERO IRIZA Peace Mary          historian         95
6                    NIBAKURE Josephine  real_estate_agent         87
7                  NDAYISHIMIYE Gilbert        radiologist         25
8        NDANYUZWE UHIRWA SHAMI MERISSA            plumber         79
9                      MWENEDATA Apotre         politician         94

   owner_district  proposed_purchase_price purchase_date
0  east_nyagatare                  6705.76    2024-01-24
1   south_kamonyi                 10008.46    2016-07-21
2   kigali_gasabo                 10219.33    2022-06-07
3     west_rusizi                 19288.22    2006-03-15
4  east_rwamagana                 22848.39    2021-06-14
5      east_ngoma                 25755.92    2009-10-13
6    south_nyanza                 12194.74    2004-12-20
7   north_musanze                 12207.80    2021-05-17
8    south_muhoza                 21961.32    2001-09-03
9     west_rubavu                 12789.02    2018-01-06
        Unnamed: 0                vin manufacturer  year            color  \
499741      499741  CQKFTDB3PATH31NRK         Ford  2018           silver
499742      499742  XV0S95MH6Q96UT9V1          BMW  2018            green
499743      499743  FU6BSORX4Z369WJTM       Nissan  2005   metallic_brown
499744      499744  OQBLQCK353L8VXN5I        Honda  2020  metallic_silver
499745      499745  K1YXRQOWFRG2M351R          BMW  2012    metallic_gray

        body_type engine_type transmission fuel_type  seating_capacity  \
499741  Hatchback      diesel       manual  hydrogen                10
499742      Truck    electric    automatic   ethanol                 5
499743      Coupe      petrol    automatic   ethanol                 8
499744      Truck      diesel       manual  electric                 4
499745      Coupe    electric    automatic    diesel                 3

        kilometers_driven vehicle_condition_status  selling_price  \
499741              73.91                 inactive       10926.09
499742              71.52                   active       12021.33
499743             314.64                 inactive       26053.90
499744              62.66                   active        8937.34
499745              25.89                 inactive       18671.52

                   owner_name owner_profession  owner_age   owner_district  \
499741     NDAYAMBAJE Patrick        dietitian         35    kigali_gasabo
499742         ISHIMWE ARLENE          painter         78   west_ngororero
499743  ISHIMWE PRINCE ARNAUD          painter         93  south_nyamagabe
499744       GISINGIZO Gloria         gardener         31     east_kayonza
499745      INEZA TETA LANDRA           writer         88       south_huye

        proposed_purchase_price purchase_date
499741                 12327.05    2011-05-18
499742                 13389.50    2011-09-11
499743                 27714.55    2007-02-08
499744                 10111.10    2021-07-09
499745                 21025.82    2021-12-19
          Unnamed: 0           year  seating_capacity  kilometers_driven  \
count  499746.000000  499746.000000     499746.000000      499746.000000
mean   249872.500000    2011.995770          5.999532         120.362064
std    144264.388151       7.204957          2.583512         108.449333
min         0.000000    2000.000000          2.000000           0.000000
25%    124936.250000    2006.000000          4.000000          30.730000
50%    249872.500000    2012.000000          6.000000          89.290000
75%    374808.750000    2018.000000          8.000000         185.150000
max    499745.000000    2024.000000         10.000000         479.980000

       selling_price      owner_age  proposed_purchase_price
count  499746.000000  499746.000000            499746.000000
mean    17658.561496      59.013005             19425.720447
std      7580.377670      23.933346              8358.384150
min      4500.000000      18.000000              4725.020000
25%     10965.082500      38.000000             12256.542500
50%     17522.420000      59.000000             19302.405000
75%     23976.257500      80.000000             26363.872500
max     31899.990000     100.000000             53801.410000
(499746, 19)

In [3]:
# To calculate the variance of the year column 
variance = df['year'].var()
print(variance)

51.911400929404394

In [4]:
# To find the occurence of a value in a single column
print(df["seating_capacity"].value_counts())

seating_capacity
4     55727
10    55697
5     55664
2     55663
8     55528
9     55468
7     55443
3     55385
6     55171
Name: count, dtype: int64

In [5]:
# To delete a column
df = df.drop(columns=["Unnamed: 0"])

In [6]:
# To find the occurence of values in the whole df
for col in df.columns:
    print(df[col].value_counts())

vin
K1YXRQOWFRG2M351R    1
KNEQQMPI59JQMQFUS    1
ERQXM0VN4634L953O    1
3FFYIQJG0TYQ91L89    1
CLRGIIROAB9F9262U    1
                    ..
1LO3MRZOB4X3Y1KST    1
HNHT7ZUBJ23KZDIV1    1
MPA62DRXSR7A89VZU    1
VHCAURU4ARUAYJ92M    1
29UVADC6HM51QNKB5    1
Name: count, Length: 499746, dtype: int64
manufacturer
Audi          50272
Honda         50244
Ford          50138
Chevrolet     50138
Mercedes      49925
Nissan        49880
Hyundai       49876
BMW           49817
Toyota        49755
Volkswagen    49701
Name: count, dtype: int64
year
2016    20365
2008    20285
2018    20101
2001    20094
2014    20082
2017    20055
2015    20052
2023    20043
2006    20015
2010    20013
2003    19990
2002    19989
2011    19979
2004    19974
2013    19971
2021    19949
2022    19928
2012    19922
2000    19921
2009    19888
2007    19860
2019    19857
2005    19838
2020    19799
2024    19776
Name: count, dtype: int64
color
matte_black        21959
gray               21879
metallic_silver    21867
black              21864
pearl_white        21857
yellow             21809
metallic_green     21800
silver             21793
metallic_blue      21763
orange             21758
custom             21725
green              21709
metallic_red       21703
brown              21692
red                21688
purple             21680
chrome             21655
metallic_gray      21640
white              21627
gold               21625
metallic_brown     21624
blue               21538
metallic_black     21491
Name: count, dtype: int64
body_type
Hatchback      62759
Sedan          62601
Truck          62559
SUV            62505
Coupe          62481
Wagon          62467
Convertible    62398
Van            61976
Name: count, dtype: int64
engine_type
petrol      166941
electric    166680
diesel      166125
Name: count, dtype: int64
transmission
manual       250081
automatic    249665
Name: count, dtype: int64
fuel_type
ethanol      71906
electric     71547
diesel       71409
hydrogen     71396
biodiesel    71294
hybrid       71265
gasoline     70929
Name: count, dtype: int64
seating_capacity
4     55727
10    55697
5     55664
2     55663
8     55528
9     55468
7     55443
3     55385
6     55171
Name: count, dtype: int64
kilometers_driven
0.00      19789
1.48         62
14.29        56
9.40         56
0.24         56
          ...
390.24        1
427.06        1
461.96        1
450.52        1
448.58        1
Name: count, Length: 44561, dtype: int64
vehicle_condition_status
active      249876
inactive    249870
Name: count, dtype: int64
selling_price
5500.00     11982
5000.00      5009
4500.00      2785
6593.80        17
6599.74        16
            ...
24961.49        1
14397.83        1
27204.85        1
16414.76        1
8074.30         1
Name: count, Length: 356474, dtype: int64
owner_name
IRIBAGIZA Fanny                         3747
UMUTONI UWASE SANDRA                    3712
IGIRIMPUHWE Noah                        3704
BISIZI MUHIRE Ighor                     3701
WIHOGORA Florence                       3683
                                        ...
BUGINGO Elua                            3489
AMIZERO NSABIMANA Peace Tresor          3488
KANEZA Amandine                         3487
IMANISINGIZWE KAMANA Adeodatus Clare    3483
AMIZERO IRIZA Peace Mary                3438
Name: count, Length: 139, dtype: int64
owner_profession
technician             5792
economist              5778
statistician           5775
gardener               5758
accountant             5753
                       ...
construction_worker    5490
teacher                5486
journalist             5473
other                  5467
artist                 5395
Name: count, Length: 89, dtype: int64
owner_age
54    6192
44    6168
92    6142
72    6135
58    6123
      ...
20    5912
78    5903
23    5901
39    5896
90    5882
Name: count, Length: 83, dtype: int64
owner_district
north_gakenke        16993
kigali_gasabo        16977
east_ngoma           16893
west_nyamasheke      16870
north_burera         16838
west_karongi         16810
south_gisagara       16775
kigali_nyarugenge    16738
south_nyanza         16716
south_nyaruguru      16711
east_nyagatare       16707
south_nyamagabe      16679
west_rutsiro         16665
west_rubavu          16648
north_rulindo        16640
north_musanze        16627
east_bugesera        16625
west_nyabihu         16613
east_gatsibo         16599
south_muhoza         16596
south_kamonyi        16558
kigali_kicukiro      16544
west_ngororero       16538
east_kayonza         16531
south_huye           16528
east_rwamagana       16522
south_ruhango        16513
west_rusizi          16471
north_gicumbi        16469
east_kirehe          16352
Name: count, dtype: int64
proposed_purchase_price
8442.90     5
20628.13    5
5940.24     5
11300.15    4
8725.94     4
           ..
17896.42    1
23732.80    1
6145.65     1
4822.64     1
5522.27     1
Name: count, Length: 458928, dtype: int64
purchase_date
2021-09-14    92
2002-07-11    91
2003-08-18    89
2020-04-21    89
2014-10-18    86
              ..
2004-01-02    37
2019-09-20    36
2023-06-06    36
2017-03-16    35
2023-11-25    34
Name: count, Length: 8400, dtype: int64

In [7]:
# To return columns name
print(df.columns.tolist())

['vin', 'manufacturer', 'year', 'color', 'body_type', 'engine_type', 'transmission', 'fuel_type', 'seating_capacity', 'kilometers_driven', 'vehicle_condition_status', 'selling_price', 'owner_name', 'owner_profession', 'owner_age', 'owner_district', 'proposed_purchase_price', 'purchase_date']

In [8]:
# To know the types of the features you have
print(df.dtypes) # ps the object datatype shows that it is categorical data

vin                          object
manufacturer                 object
year                          int64
color                        object
body_type                    object
engine_type                  object
transmission                 object
fuel_type                    object
seating_capacity              int64
kilometers_driven           float64
vehicle_condition_status     object
selling_price               float64
owner_name                   object
owner_profession             object
owner_age                     int64
owner_district               object
proposed_purchase_price     float64
purchase_date                object
dtype: object

In [10]:
# To count the number of unique values in the df 
print(df.nunique())

vin                         499746
manufacturer                    10
year                            25
color                           23
body_type                        8
engine_type                      3
transmission                     2
fuel_type                        7
seating_capacity                 9
kilometers_driven            44561
vehicle_condition_status         2
selling_price               356474
owner_name                     139
owner_profession                89
owner_age                       83
owner_district                  30
proposed_purchase_price     458928
purchase_date                 8400
dtype: int64

In [9]:
# Describe the dataset
print(df.describe())

                year  seating_capacity  kilometers_driven  selling_price  \
count  499746.000000     499746.000000      499746.000000  499746.000000
mean     2011.995770          5.999532         120.362064   17658.561496
std         7.204957          2.583512         108.449333    7580.377670
min      2000.000000          2.000000           0.000000    4500.000000
25%      2006.000000          4.000000          30.730000   10965.082500
50%      2012.000000          6.000000          89.290000   17522.420000
75%      2018.000000          8.000000         185.150000   23976.257500
max      2024.000000         10.000000         479.980000   31899.990000

           owner_age  proposed_purchase_price
count  499746.000000            499746.000000
mean       59.013005             19425.720447
std        23.933346              8358.384150
min        18.000000              4725.020000
25%        38.000000             12256.542500
50%        59.000000             19302.405000
75%        80.000000             26363.872500
max       100.000000             53801.410000

In [ ]:
#.unique returns the actual unique values not the count of all the unique values
categorical_columns = df.select_dtypes(include=["object"]).columns
for col in categorical_columns:
    unique_values = df[col].unique()
    print(f"{col}:{len(unique_values)}")

In [ ]:
df["proposed_purchase_price"].plot.hist(bins=30, alpha=0.7, color='blue')
plt.savefig("histogram.png", format="png", dpi=400)
plt.show()

In [ ]:
sdf = df[df["year"] > 2020]
print(sdf)

In [ ]:
# Checking null
print(df.isnull().sum())

In [1]:
plt.figure(figsize=(23,3))
plt.bar(unique_values, counts, alpha = 0.2, color='blue',edgecolor='green')
plt.savefig("pic.png", format='png', dpi=300)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
df.drop(columns=["owner_name","vin"],axis=1,inplace=True)

In [ ]:
df["selling_price"] = df["selling_price"].astype(float)
df["proposed_purchase_price"] = pd.to_numeric(df["proposed_purchase_price"],errors="coerce")
print(df.dtypes)

In [ ]:
# Making a chart 
sns.set(rc={ #rc stands for "runtime configuration".  This sets the default figure size for Seaborn plots to 20x20 inches.
    'figure.figsize': (20, 20),        # Set figure size to 10x6 inches
    'font.size': 14,                   # Set default font size to 14
    'axes.titlesize': 16,              # Set axes title font size to 16
    'xtick.labelsize': 12,             # Set x-tick label font size to 12
    'ytick.labelsize': 12,             # Set y-tick label font size to 12
    'lines.linewidth': 2,              # Set default line width to 2
    'axes.labelsize': 14               # Set axes label font size to 14
})

g = sns.FacetGrid(df, hue='transmission', height=5, aspect=2, xlim=(df["proposed_purchase_price"].min(),df["proposed_purchase_price"].max())) #
# Map the KDE plot
g.map(sns.kdeplot, 'proposed_purchase_price', fill=True)
g.add_legend(title='Purchase Price')
g.set_axis_labels('Purchase Price', 'Density')
g.fig.suptitle('KDE of Purchase Price by transmission', fontsize=16)
plt.show()